[Unit]
Description=SDR Scanner Boot-Splash
After=local-fs.target
DefaultDependencies=no

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /usr/share/sdr-scanner/splash.py
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
